* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

#logo {
    color: white;
    text-align: center;
    width: fit-content;
}

#logo h1 {
    font-size: 2rem;
}

#logo h2 {
    font-weight: 100;
    font-size: 1.25rem;
}

header {
    
    padding: 0.75rem;
    background: linear-gradient(320deg, rgb(47, 47, 47), rgb(18, 18, 18));;
    margin: 1rem;
    border: 0.1rem solid gray;
    border-radius: 50em;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    width: fit-content;
}

nav {
    width: fit-content;
    color: white;
    padding: 1rem;
    align-items: center;
    display: flex;
    margin-left: 2rem;
    gap: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

nav span {
    height: fit-content;
    transition: color 0.1s ease;
    transition: text-decoration 0.1s ease;
}

nav span:hover {
    color: rgb(159, 159, 159);
    text-decoration: underline;
}

#slogan {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 5rem;
    transition: all 0.3s ease
    
}

#slogan:hover {
    text-decoration: underline 0.1rem;
    text-underline-offset: 0.5rem;
}

footer {
    padding: 0.75rem;
    background: linear-gradient(320deg, rgb(47, 47, 47), rgb(18, 18, 18));;
    margin: 1rem;
    border: 0.1rem solid gray;
    border-radius: 50em;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    width: fit-content;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}